@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600&family=Varela&family=Varela+Round&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border:1px solid red; */
}


.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex-spaceb {
  display: flex;
  align-items: center;
  justify-content: space-between;

}